// @font-face mixin
@mixin font-include($font-family, $name, $weight, $style: normal) {
  font-family: #{$font-family};
  src: url(../fonts/woff2-ttf/#{$name}.woff2) format('woff2'),
       url(../fonts/woff-ttf/#{$name}.woff) format('woff'),
       url(../fonts/ttf/#{$name}.ttf) format('truetype');
  font-weight: $weight;
  font-style: $style;
}

// font classes & styles
@mixin font-class($font-family, $class-name, $weight, $style: normal, $name: null) {

  .#{$class-name}-#{$weight}#{$name} {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
  }

}

$font-family: Boon;
$class-name: boon;
$weights: 300 400 500 600 700;
$styles: normal oblique;

// sass magic!
@each $weight in $weights {
  @each $style in $styles {
    @if $style == normal {
      @font-face {
        @include font-include($font-family, #{$font-family}-#{$weight}, $weight);
      }
      @include font-class($font-family, $class-name, $weight);
    }
    @if $style == oblique {
      @font-face {
        @include font-include($font-family, #{$font-family}-#{$weight}i, $weight, $style);
      }
      @include font-class($font-family, $class-name, $weight, $style, i);
    }
  } 
}
