@font-face {
  src: url("../fonts/woff/boon-300.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/woff/boon-300-oblique.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: italic;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/woff/boon-400.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/woff/boon-400-oblique.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/woff/boon-500.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/woff/boon-500-oblique.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/woff/boon-700.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/woff/boon-700-oblique.woff") format("woff");
  font-family: "Boon-0.6";
  font-style: italic;
  font-weight: 700;
}

/* line 28, ../_sass/boon.sass */
body {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Boon-0.6", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  background: #f3f3f3;
  color: #333333;
}
/* line 41, ../_sass/boon.sass */
body code, body pre {
  font-family: "Boon-0.6";
}
/* line 44, ../_sass/boon.sass */
body .browsehappy {
  padding: 10px 20px;
  background: yellow;
}
/* line 48, ../_sass/boon.sass */
body h1, body h2 {
  line-height: 1.25em;
}
/* line 51, ../_sass/boon.sass */
body h1, body h2, body h3, body h4, body h5, body h6 {
  text-shadow: 1px 1px white;
}
/* line 54, ../_sass/boon.sass */
body h1, body h2, body h3, body h4, body h5, body h6, body strong {
  font-weight: 700;
}
/* line 57, ../_sass/boon.sass */
body #title {
  font-size: 60px;
  line-height: 1.25em;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  text-shadow: 1px 1px white;
}
/* line 66, ../_sass/boon.sass */
body #download,
body #end {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  text-shadow: 1px 1px white;
}
/* line 76, ../_sass/boon.sass */
body .test-texts {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 10px 20px;
  background: #f9f9f9;
  margin: 0px 0px 12px;
}
/* line 83, ../_sass/boon.sass */
body .zoom-texts {
  font-size: 2em;
  line-height: 1.5em;
}
/* line 87, ../_sass/boon.sass */
body .boon-300 {
  font-weight: 300;
  font-style: normal;
}
/* line 90, ../_sass/boon.sass */
body .boon-300-oblique {
  font-weight: 300;
  font-style: italic;
}
/* line 93, ../_sass/boon.sass */
body .boon-400 {
  font-weight: 400;
  font-style: normal;
}
/* line 96, ../_sass/boon.sass */
body .boon-400-oblique {
  font-weight: 400;
  font-style: italic;
}
/* line 99, ../_sass/boon.sass */
body .boon-500 {
  font-weight: 500;
  font-style: normal;
}
/* line 102, ../_sass/boon.sass */
body .boon-500-oblique {
  font-weight: 500;
  font-style: italic;
}
/* line 105, ../_sass/boon.sass */
body .boon-700 {
  font-weight: 700;
  font-style: normal;
}
/* line 108, ../_sass/boon.sass */
body .boon-700-oblique {
  font-weight: 700;
  font-style: italic;
}

/* line 112, ../_sass/boon.sass */
body.boon-300-500 h1, body.boon-300-500 h2, body.boon-300-500 h3, body.boon-300-500 h4, body.boon-300-500 h5, body.boon-300-500 h6, body.boon-300-500 strong {
  font-weight: 500;
}

/* line 115, ../_sass/boon.sass */
body.boon-400-700 {
  font-weight: 400;
}
