@charset "UTF-8";

@font-face {
  font-family: "BoonTook";
  src: url(../fonts/BoonTook.woff2) format("woff2"),
       url(../fonts/BoonTook.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BoonTook Mon";
  src: url(../fonts/BoonTook-Mon-Oblique.woff2) format("woff2"),
       url(../fonts/BoonTook-Mon-Oblique.woff) format("woff");
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: "BoonTook";
  src: url(../fonts/BoonTook-Oblique.woff2) format("woff2"),
       url(../fonts/BoonTook-Oblique.woff) format("woff");
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: "BoonTook Mon";
  src: url(../fonts/BoonTook-Mon.woff2) format("woff2"),
       url(../fonts/BoonTook-Mon.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
