$cl: #333
$bg: #fff
$textSize: 16px
$lineHeight: 24px
$fontFamily: Boon

=font-face($fontName, $style, $weight)
  @font-face
    src: url("../fonts/woff/" + $fontName + ".woff" ) format('woff')
    font:
      family: $fontFamily
      style: $style
      weight: $weight

+font-face(Boon-Book, normal, 400)
+font-face(Boon-Book-Italic, italic, 400)
+font-face(Boon-Bold, normal, 700)
+font-face(Boon-Bold-Italic, italic, 700)

=font-case($weight, $style)
  font-weight: $weight
  font-style: $style

body.boon
  max-width: 600px
  margin: 0 auto
  padding: 20px
  font-size: $textSize
  line-height: $lineHeight
  font-family: $fontFamily, sans-serif
  font-weight: 400
  font-style: normal
  text-rendering: optimizeLegibility

  .browsehappy
    padding: 10px 20px
    background: yellow

  #title
    font-size: 60px
    line-height: 1.25em
    padding: 0
    margin: 0 0 20px 0
    text-align: center
  
  h2,h3
    line-height: 1.25em
  
  #download,
  #end
    font-weight: bold
    font-size: 40px
    line-height: 1
    padding: 0
    margin: 0 0 20px 0
    text-align: center

  .test-texts
    font-size: 1.5em
    line-height: 1.5em
    padding: 10px 20px
    background: #f5f5f5
    
  .zoom-texts
    font-size: 2em
    line-height: 1.5em

  .boon-book
    +font-case(400, normal)

  .boon-book-italic
    +font-case(400, italic)

  .boon-bold
    +font-case(700, normal)

  .boon-bold-italic
    +font-case(700, italic)

